<div class="post" id="<%= post.id %>">
  <div class="permalink"><%= link_to '#', post_path(post), { :title => 'Permalink' } %></div>
  <%
    lower_name = post.class.name.underscore
  -%>
  <div class="meta">
    <%= lower_name %>
  </div>
  <div class="body <%= lower_name %>">
    <%= render :partial => "posts/types/#{lower_name}/show", :locals => { lower_name.to_sym => post } %>
  </div>
  
  <% if logged_in? -%>
    <div class="actions">
      <%= link_to 'Edit', edit_post_path(post) %>
    </div>
  <% end -%>
</div>
